:root {
font-family: Arial, Helvetica, sans-serif;
color: white;
background: #121212;
font-synthesis: none;
text-rendering: optimizeLegibility;
}

html,
body,
#root {
min-height: 100%;
margin: 0;
}

body {
min-width: 320px;
}
